################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.vs/
/cosmos/cosmos2/.vs/cosmos2/v17/.suo
